version: "3.9"

services:
  db:
    image: "postgres"
    environment:
      POSTGRES_PASSWORD: "123456"
      POSTGRES_USER: "docker"
    volumes:
      - .:/usr/app/var/lib/postgresql/data
    ports:
      - "5432:5432"
  server:
    depends_on:
      - db
    build:
      context: .
    volumes:
      - .:/usr/app
    ports:
      - "5000:5000"
